<footer class="page-footer blue-grey">
    <div class="container">
        <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Dog Front</h5>
            <p class="grey-text text-lighten-4">Página web que muestra información de todas las razas de perros del mundo.</p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Información</h5>
            <ul>
            <li><a class="grey-text text-lighten-3" href="https://guayanadev.com/">GuayanaDev</a></li>
            <li><a class="grey-text text-lighten-3" href="https://dog.ceo/dog-api/documentation/">Dog-Api</a></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        © 2019 Copyright Dog Front
        </div>
    </div>
</footer>