#breedContainer
    margin-top 50px
    margin-botton 50px

.breeds-img
    width 100%
    height 100%

.showClick
    cursor pointer

body 
    display flex
    min-height 100vh
    flex-direction column

main 
    flex 1 0 auto
      